@import url('base.css');

.vrefs-widget {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.vrefs-main-content {
    height: 100%;
    overflow: hidden;
}

@keyframes vrefs-spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes vrefs-pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }
}